<h1>Bonjour,</h1>

<p> Veuillez s'il vous plaît confirmer votre adresse e-mail en cliquant sur le lien suivant:<br><br>
    <a href="{{ signedUrl }}">Confirmer mon adresse e-mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement,

    L'équipe Malink
</p>
