{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="mb-2">Modification d'un utilisateur</h1>
    {# {{ include('profil/_form.html.twig')}} #}

    <section class="m-auto md:w-96">
        {{ form(form) }}
    </section>

    {# <a href="{{ path('app_home') }}">Retour</a> #}

    {# {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
