{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}
{% block title %}Connexion{% endblock %}

{% block body %}

<section class="m-auto md:w-80 md:shadow-lg md:p-6">
    <h1 class="mb-3 text-xl">Veuillez vous connecter</h1>

    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="mb-6">
            <label for="username" class="form-label">E-mail:</label>
            <input type="text" id="username" name="_username" class="form-input" value="{{ last_username }}" placeholder="Adresse e-mail"/>
        </div>
        <div class="mb-6">
            <label for="password" class="form-label">Mot de passe:</label>
            <input type="password" id="password" name="_password" class="form-input" placeholder="Mot de passe"/>
        </div>
        {# <div class="mb-6">
            <input type="checkbox" name="remember_me" id="remember_me">
            <label for="remember_me">Se souvenir de moi</label>
        </div> #}

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account" /> #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit"
            class="btn">Connexion</button>
    </form>
    <div class="mb-6">
        <a href="/register" class="underline">S'enregistrer</a>
    </div>
</section>
{% endblock %}