{% extends 'base.html.twig' %}

{% block title %}Activité{% endblock %}

{% block body %}
    <h1 class="mb-2">Création d'une activité</h1>

    {# {{ include('activity/_form.html.twig') }} #}

    <section class="m-auto md:w-96">
        {{ form(form) }}
    </section>

    {# <a href="{{ path('app_activity_index') }}" class="btn">retour</a> #}
{% endblock %}
