{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Ajout d'un produit</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_activity_show', {'id': form.activity.vars.value}) }}">retour</a>
{% endblock %}
