{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Modification</h1>

    {{ include('prestation/_form.html.twig') }}

    <a href="{{ path('app_activity_show', {'id': form.activity.vars.value}) }}">retour</a>

    {# {{ include('prestation/_delete_form.html.twig') }} #}
{% endblock %}
