{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Ajout d'un service</h1>

    {{ include('prestation/_form.html.twig') }}

    <a href="{{ path('app_activity_show', {'id': form.activity.vars.value}) }}">retour</a>
{% endblock %}
