{% extends 'base.html.twig' %}

{% block title %}Région{% endblock %}

{% block body %}
    <h1 class="mb-2">Création d'une région</h1>

    {{ include('region/_form.html.twig') }}

    <a href="{{ path('app_region_index') }}">retour</a>
{% endblock %}
